# Ignoring various files and directories

# Virtual environment
/venv

# Flask settings file
settings.py

# Dependencies and build artifacts for React frontend
react-frontend/node_modules
react-frontend/.pnp
react-frontend/.pnp.js
react-frontend/coverage
react-frontend/build

# Miscellaneous files and directories
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sources Used:
# https://www.youtube.com/watch?v=d4iz2NrZVRg
# https://scrapeops.io/app/dashboard
# https://maoviola.medium.com/a-complete-guide-to-web-scraping-linkedin-job-postings-ad290fcaa97f